.footer{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}
.foot{
    font-size: 25px;
}
.footerh3{
    margin-top: 50px;
    color: grey;
    text-align: center;
}
.end{
    display: flex;
    justify-content: space-around;
}
.endicons{
    margin-top: 50px;
    display: flex;
    gap: 10px;
}
@media screen and (max-width:992px) {
    .footer{
        flex-wrap:wrap ;
    }
    
    
}